.restDetails {
  margin: 0 auto;
}

.active {
  background-color: #00796b;
  color: white;
  opacity: 1;
}
#editButton {
  margin-top: auto;
  margin-left: auto;
}

.container{
  margin-bottom: 50px;
}