<!-- {{ dadosLoja.value | json }} -->

<div fxLayout="column" class="container" id="editar">
  <div class="mat-display-1">
    Editar dados da loja
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row">

    <form [formGroup]="dadosLoja" fxFlex='100'>
      <div class="forms" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px">
        <mat-form-field fxFlex="calc(33%-10px)" appearance="outline">
          <mat-label>Nome Fantasia</mat-label>
          <input formControlName="nome_fantasia" type="text" matInput />
          <mat-hint>Esse é o nome como os seus clientes conhecem</mat-hint>
        </mat-form-field>

        <mat-form-field fxFlex="calc(33%-10px)" appearance="outline">
          <mat-label>Razão social</mat-label>
          <input formControlName="razao_social" type="text" matInput />
          <mat-hint>Esse é o nome que consta nos deocumentos da sua empresa</mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex="calc(33%-10px)" appearance="outline">
          <mat-label>CNPJ</mat-label>
          <input readonly formControlName="cnpj" type="text" matInput />
          <mat-hint>Informe-nos o CNPJ da sua empresa (14 dígitos)</mat-hint>
          <mat-error>CNPJ inválido</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="botoes" fxLayoutGap="5px">
    <input (change)="onFileChange($event)" #logo type="file" style="display: none;">
    <button (click)="logo.click()" mat-raised-button color="accent">Logo</button>
      <button class="clearButton" mat-raised-button>Cancelar</button>
      <button (click)="editarLoja(dadosLoja.value, this.lojaId)" mat-raised-button color="primary">
        Confirmar
      </button>
  </div>
</div>