<mat-toolbar class="mainToolbar" color="primary">
  <mat-toolbar-row class="navigation">
    <span>
      <button (click)="sideContentToggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-button [routerLink]="['']">MEAT</a>
      <a *ngIf="mediumScreen" mat-button [routerLink]="['/lojas']" routerLinkActive="active" >Lojas</a>
      <a *ngIf="mediumScreen" [routerLink] = "['/sobre']" mat-button href="#">Sobre</a>
    </span>
    <!-- Adicionar NgIf pra caso o usuário exista -->
    <!-- <div>
      <a mat-button href="#">Olá, Usuário</a>
      |
      <a mat-button href="#">Logout</a>
    </div> -->
    <div>
      <button (click)="abrirDialogoLogin()" mat-button>Login</button>
    </div>
  </mat-toolbar-row>
  
  <mat-toolbar-row id="secondaryRow" *ngIf="!smallScreen">
      <mat-divider vertical></mat-divider>
        <a mat-button [routerLink]="['/lojas']">Lojas</a>
        <a mat-button [routerLink] = "['/sobre']">Sobre</a>
  </mat-toolbar-row>
</mat-toolbar>

<app-side-menu [opened]="opened" [mode] = "mode" (reflectOpened)="reflectOpened()"></app-side-menu>
