#addButton {
    height: 40px;
}

#cardContent{
    padding-left: 15px;
    padding-top: 10px;
    height: 5%;
    padding-bottom: -50px;
}

#card {
    padding: 10px 10px 0 5px;
    margin: 0 0 10px 0;
}

#qteAdd {
    padding-right: 10px;
}

img {
    border-radius: 20px 20px;
}