.cepDiv {
  width: 100%;
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 10px;
  // margin-right: -10px;
}

.divLojas {
    // padding-bottom: 20vh;
    // border: 1px solid red;
    padding-bottom: 100px;
}

.container {
  // border: 1px solid red;
  margin: 20px auto;
}

.cardActions {
  padding-bottom: 10px !important;
}

.cardLoja {
  margin: 10px;
  // border: 1px solid blue;
}

.navigator{
  margin-left: auto;
  margin-right: 10px;
}