<!-- {{ dadosLoja.value | json }} -->

<div fxLayout="column" class="container" id="cadastro">
  <div class="mat-display-1">
    Cadastrar um novo produto
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxFlex='100'>

    <div *ngIf="logoPreview">
      <img class="logoPreview" [src]="logoPreview" />
    </div>
    <form [formGroup]="dadosItem" fxFlex='100'>
      <div class="forms" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px">
        <mat-form-field fxFlex="calc(25%-10px)" appearance="outline">
          <mat-label>Descrição do Produto</mat-label>
          <input formControlName="descricao" type="text" matInput />
          <!-- <mat-hint>Esse é o nome como os seus clientes conhecem</mat-hint> -->
        </mat-form-field>

        <mat-form-field fxFlex="calc(25%-10px)" appearance="outline">
          <mat-label>Informe o valor do seu produto</mat-label>
          <input formControlName="valor" type="text" matInput />
          <!-- <mat-hint>Esse é o nome que consta nos deocumentos da sua empresa</mat-hint> -->
        </mat-form-field>
        <mat-form-field fxFlex="calc(25%-10px)" appearance="outline">
          <mat-label>Quantidade</mat-label>
          <input formControlName="qtd_estoque" type="text" matInput />
          <!-- <mat-hint>Informe-nos o CNPJ da sua empresa (14 dígitos)</mat-hint> -->
          <!-- <mat-error>CNPJ inválido</mat-error> -->
        </mat-form-field>
        <mat-form-field fxFlex="calc(25%-10px)" appearance="outline" >
          <mat-label>Categoria(s) do Produto</mat-label>
          <mat-select multiple>
            <mat-option (click)="onSelect(categoria)"  *ngFor="let categoria of categorias" [value]="categoria.slug">{{categoria.nome}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
  <input id="imageSelector" type="file" (change)="onFileChanged($event)" name="Escolha o logo" style="display:none;" />
  <div class="botoes">
    <button (click)="selecionaLogo()" mat-raised-button color="primary" style="margin-right: 5px;">
      Logo
    </button>
    <button class="clearButton" mat-raised-button>Cancelar</button>
    <button [disabled]="dadosItem.invalid" (click)="cadastrarProduto(dadosItem.value)" mat-raised-button
      color="primary">
      Cadastrar
    </button>
  </div>
</div>