<!-- <div fxLayout="column" class="restDetails" fxFlex="100" fxFlex.gt-md="80">
  <mat-card fxLayout="row" style="border: 1px solid red;">
    <div style="justify-content: ;">
      <img
        src="https://picsum.photos/500"
        alt=""
        style="border: 1px solid blue; width: 120px;"
      />
    </div>
    <mat-card-header
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="space-between"
      style="border: 1px solid red;"
    >
      <mat-card-title style="border: 1px solid red;">
        Nome do restaurante
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <router-outlet></router-outlet>
</div>
 -->

<div style="margin: auto;" fxLayout="column" fxFlex="100" fxFlex.gt-md="60">
  <mat-card fxLayout="row wrap" fxLayoutGap="15px grid" fxLayout.lt-md="column">
    <img src="https://picsum.photos/200" alt="" fxFlexAlign="center" />
    <div fxLayout="column">
      <mat-card-header fxFlex="calc(45%-15px)">
        <mat-card-title>
          Nome do Restaurante
        </mat-card-title>
        <mat-card-subtitle>
          Descrição do restaurante com as informações sobre a história
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxFlex="calc(35%-15px)">
        Demais informações, como:
        <ul>
          <li>Rating</li>
          <li>Horário de funcionamento</li>
          <li>Informações de entrega</li>
        </ul>
      </mat-card-content>
    </div>
  </mat-card>

  <mat-tab-group fxFlex="100" fxFlex.gt-md="60" style="margin-right: -15px; margin-top: 15px;">
    <mat-tab [routerLink]="['detalhes/menu']" label="First"></mat-tab>
    <mat-tab [routerLink]="['detalhes/avaliacoes']" label="Second"> <router-outlet></router-outlet> </mat-tab>
  </mat-tab-group>

  
</div>
