.container {
    // border: 1px solid red;
    margin: auto;
    padding-bottom: 20vh;
}

.forms {
    margin-top: 10px;
    padding: 10px;
}

.mat-display-1 {
    margin-bottom: 20px;
    margin-left: 10px;
  }