<div fxLayout="column">
  <div class="mat-h2">Verifique os valores</div>

  <table
    fxFlex="100"
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="frete">
      <th mat-header-cell *matHeaderCellDef>Frete</th>
      <td mat-cell *matCellDef="let item">{{ item.frete | customCurrency }}</td>
    </ng-container>

    <ng-container matColumnDef="valorProdutos">
      <th mat-header-cell *matHeaderCellDef>Itens</th>
      <td mat-cell *matCellDef="let item">{{ item.valorProdutos | customCurrency }}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let item">{{ item.total | customCurrency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  Coluna de nome
  <ng-container matColumnDef="frete">
    <mat-header-cell *matHeaderCellDef>Frete</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.frete }}</mat-cell>
  </ng-container>

  Coluna de Preço
  <ng-container matColumnDef="valorProdutos">
    <mat-header-cell *matHeaderCellDef>Itens</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.valorProdutos }}</mat-cell>
  </ng-container>

  Coluna de Quantidade
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef>Total.</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.total }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table> -->
