<div fxLayout="column">
  <mat-card>
    <mat-card-title-group>
      <mat-icon>shopping_cart</mat-icon>
      <mat-card-title>Seu carrinho</mat-card-title>
    </mat-card-title-group>
    <mat-divider></mat-divider>
    <mat-card-content id="conteudo">
      <div class="mat-title" style="margin: 10px 0 10px 0;">
        Item: x1
        <div
          class="mat-body-2"
          style="margin-top: auto; margin-bottom: auto;"
          fxFlexOffset="auto"
        >
          R$ 15,00
        </div>
        <button
          fxFlexOffset="auto"
          isIconButton
          isRoundButton
          mat-icon-button
          style="padding: 0;"
        >
          <mat-icon inline>remove</mat-icon>
        </button>
      </div>
      <div class="mat-title" style="margin: 10px 0 10px 0;">
        Item: x1
        <div
          class="mat-body-2"
          style="margin-top: auto; margin-bottom: auto;"
          fxFlexOffset="auto"
        >
          R$ 5,55
        </div>
        <button
          fxFlexOffset="auto"
          isIconButton
          isRoundButton
          mat-icon-button
          style="padding: 0;"
        >
          <mat-icon inline>remove</mat-icon>
        </button>
      </div>
      <div class="mat-title" style="margin: 10px 0 10px 0;">
        Item: x1
        <div
          class="mat-body-2"
          style="margin-top: auto; margin-bottom: auto;"
          fxFlexOffset="auto"
        >
          R$ 9,50
        </div>
        <button
          fxFlexOffset="auto"
          isIconButton
          isRoundButton
          mat-icon-button
          style="padding: 0;"
        >
          <mat-icon inline>remove</mat-icon>
        </button>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
      <button id="clearButton" mat-raised-button>Limpar</button>
      <a [routerLink]="['/pedido']" id="confirmButton" mat-raised-button
        >Confirmar</a
      >
    </mat-card-actions>
  </mat-card>
</div>
