// #conteudo {
//     margin-top: 10px;
// }

.removeButton {
    background: #B71C1C;
}

#confirmButton {
    background: #1b5e20;
    color: white;
}

#clearButton {
    background: #B71C1C;
    color: white;
}