<ng-container  *ngIf="!navigationStatus(); else loading">
  <div @editarItensAppeard fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" style="margin-top: 10px; padding-bottom: 64px;">
    <div fxLayout="column" fxFlex="50" fxLayoutGap="10px">
      <ng-container *ngFor="let produto of produtos">
        <mat-card>
          <mat-card-header>
            <img src="{{ produto.logo }}" mat-card-avatar alt="" />
            <mat-card-title>{{ produto.descricao }}</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-actions align="end">
            <button (click)="selecionaProduto(produto)" mat-raised-button color="primary">
              Editar
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
    <div fxLayout="column" fxFlex="50" *ngIf="produtoEditar !== null && produtoEditado === false; else noItemSelected" @itemInfoAppeard>
      <app-item-info [dadosProduto]="dadosProduto" [produtoEditar]="produtoEditar"
        (enviarProdutoEditado)="editarProduto($event)"></app-item-info>
    </div>
  </div>
</ng-container>

<ng-template #loading>
 <app-loading></app-loading>
</ng-template>

<ng-template #noItemSelected>
    <div @noItemSelected fxLayout="column" fxFlex="50">
      <mat-card>
        Por favor, selecione um item para editar
      </mat-card>
      </div>
</ng-template>

<form [formGroup]="dadosProduto" style="display: none;"></form>