.side-container {
  height: 100%;
}

.main-content {
  height: 100%;
}

.side-drawer {
  width: 200px;
}


.categories {

}

#title {
  padding: 5px;
  font-weight: bold;
  background-color: #d50000;
  color: white;
}