<mat-drawer-container class="sidenavigation">
  <mat-drawer class="sideNav" [mode]="mode" [opened]="opened">
    <mat-expansion-panel class="expansionPanel">
      <mat-expansion-panel-header>
        <mat-panel-title style="color: white;">
          Restaurantes
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-button href="#">Rest 1</a>
      <mat-divider></mat-divider>
      <a mat-button href="#">Rest 2</a>
      <mat-divider></mat-divider>
      <a mat-button href="#">Rest 3</a>
      <mat-divider></mat-divider>
      <a mat-button href="#">Rest 4</a>
      <mat-divider></mat-divider>
    </mat-expansion-panel>
  </mat-drawer>
  <mat-drawer-content class="routerOutlet">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
