<mat-drawer-container class="side-container">
  <mat-drawer [mode]="mode" [opened]="opened" class="side-drawer">
    <div class="categories">
      <div id="title">
        navegue pelo site
      </div>

    </div>
    <ul>
      <li>a</li>
      <li>a</li>
      <li>a</li>
      <li>a</li>
      <li>a</li>
      <li>a</li>
    </ul>
  </mat-drawer>
  <mat-drawer-content style="padding: 10px;" (click)="clickHandler()" class="main-content">
    <router-outlet> </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>